body {
padding-top: opx;
margin: 0px 0px 0px 0px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #818a91;
background-color: #FFFFFF;
font-size: 1.25rem;
}
form{
    padding-top: 10px;
}
.contenedor {
height: 100%;
}

#cabecera {
padding: 10px 10px 0px 10px;
padding-top: opx;
margin: 0px 0px 0px 0px;
background-color: #fff; 
height: 15%;
}

.cuerpo {
}

#footer {
clear : both;
color : #818a91;
text-align : center;
margin : 40% 10px 10px;
padding-bottom:10px;
background-color: #fff; 
height: 5%;
    line-height: 0.5;
    font-size: 14px;
}

h1 {
margin: 0px 0px 0px 0px;
text-align: center;
}    


.formularios {
    margin: 10px 10px 10px 10px;
    margin-left: 25%;
	border-style: solid 2px; 
	padding: 10px 10px 10px 10px;
}

#general, #empleado, #calle{
    padding-top: 20px;
}

table {
	width: 900px;
	border:1px solid #000000;
	border-spacing: 0px; }

table a, table, tbody, tfoot, tr, th, td {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

table caption {
	font-size: 1.8em;
	text-align: left;
	text-indent: 100px;
	background: url(img/bg_caption.gif) left top;
	height: 40px;
	color: #818a91;
	border:1px solid #000000; }

thead th {
    background-color: #2a3990;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 21px;
    margin: 21px 0 0;
    text-align: center;
}

tbody tr {	background: #ffffff; }

tbody tr.odd {	background: #fff; }

tbody th {
	background: url(images/arrow_white.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody tr.odd th {
	background: url(images/arrow_grey.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody th, tbody td {
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #818a91;
	padding: 10px 7px;
	border-bottom: 1px solid #800000;
	text-align: left; }

tbody a {
	color: #818a91;
	font-weight: bold;
	text-decoration: none; }

tbody a:hover {
	color: #818a91;
	text-decoration: underline; }

tbody tr:hover th {
	background: #d9d9d9 url(images/arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #818a91; }

tbody tr.odd:hover th {
	background: #d9d9d9 url(images/arrow_black.gif) left center no-repeat;
	background-position: 5px;
	color: #818a91; }

tbody tr:hover th a, tr.odd:hover th a	{
		 color: #818a91; }

tbody tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a {
	background: #d9d9d9;
	color: #818a91;	 }

tbody tr.odd:hover td, tr.odd:hover td a{
	background: #d9d9d9;
	color: #818a91;	 }

tfoot th, tfoot td {
	background: #ffffff url(images/bg_footer.gif) repeat-x bottom;
	font-size: 0.8em;
	color: #818a91;
	height: 21px;
	}

/*- Menu Tabs H--------------------------- */

    #tabsH {
      float:left;
      width:100%;
      background:#2A3990;
      font-size:93%;
      line-height:normal;
      }
    #tabsH ul {
	  margin:0;
	  padding: 10px 10px 40px 25px;
	  list-style:none;
      }
    #tabsH li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsH a {
      float:left;
      background:url("tableftH.gif") no-repeat left top;
      margin:0;
      padding:0;
      text-decoration:none;
      }
    #tabsH a span {
      float:left;
      display:block;
    /* background:url("tabrightH.gif") no-repeat right top; */
      padding:5px 15px 4px 6px;
      color:#fff;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsH a span {float:none;}
    /* End IE5-Mac hack */
    #tabsH a:hover span {
      color: #818a91;

      }
    #tabsH a:hover {
      background-position:0% -42px;
      }
    #tabsH a:hover span {
      background-position:100% -42px;
      }

#submenu ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 8%;
    padding: 0px;
    width: 250px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    float:left;
}

#submenu ul li {
    background-color: #fff;
}

#submenu ul li a {
    background: #2a3990 none repeat scroll 0 0;
    border-left: 10px solid #f7931e;
    border-radius: 0 9px 9px 0;
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
}

#submenu ul li a:hover {
    background: #F7931E;
    border-left: 18px solid #2A3990;
    color: #ffffff;
    font-weight: bold;
}


label {
	background-color:#fff;
	float:left;
	display: block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	color:#818a91;
}
input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #006;
    border-radius: 10px;
    height: 35px;
}

select {
    background: #2a3990 none repeat scroll 0 0;
    border: 1px solid #2a3990;
    border-radius: 0;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    text-align: center;
    width: 100%;
}

input:hover,select:hover {
    border: 2px solid #F7931E;
    background: #fff;
    color:#818a91;
}
#cuerpoinicio{
    line-height: 0.2;
    margin: 0 auto;
    position: relative;
    width: 50%;
    text-align: center;
    padding-top: 10%;
}

.btn {
    margin-top: 20px!important;
    border-width: 0 !important;
    border-bottom-width: 3px;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 30px;
}
.btn.btn-primary {
    background: #2a3990;
    border-color: #010960;
    font-weight: bold;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #F7931E;
    color: #ffffff;
    font-weight: bold;
}


.btn.btn-primarya {
    background: #F7931E;
    border-color: #010960;
    font-weight: bold;
}
.btn.btn-primarya:hover,
.btn.btn-primarya:focus {
    background: #2a3990;
    color: #ffffff;
    font-weight: bold;
}
#altarubro p, #modunidad p, #altaunidad p, #altaarticulo p, #actualizaarticulo p, #altaarticuloe p, #altaarticuloe p, #actualizaarticuloe p, #frmtraspaso p, #consummateria p, #altaot p{
    display: inline;
}
#frmaltaot, #frmaltapersonal{
    width: 900px;
    height: 400px;
    border: 2px solid rgb(247, 147, 30);
    border-radius: 20px;
    text-align: center;
}
.modifrubro{
    background: #2a3990 none repeat scroll 0 0;
    border: 1px solid #2a3990;
    border-radius: 0;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    text-align: center;
    width: 30%;
}
#frmaltarubro, #frmaltaunidad, #frmactualizaarticulo{
    width: 900px;
    height: 200px;
    border: 2px solid rgb(247, 147, 30);
    border-radius: 20px;
    text-align: center;
}
#altastockempleado, #frmactualizaarticulo, #frmtraspaso{
    margin-top: 125px;
}
#consummateria{
    margin: 0 auto;
}
#frmaltaarticulo, #frmtraspaso, #consummateria{
    width: 900px;
    height: 300px;
    border: 2px solid rgb(247, 147, 30);
    border-radius: 20px;
    text-align: center;
}

.modifrubro:hover {
    border: 2px solid #F7931E;
    background: #fff;
    color:#818a91;
}
#modrubro p{
    display: inline;
}