body {
padding-top: opx;
margin: 0px 0px 0px 0px;
font-family: Georgia, "Times New Roman", serif;
color: #000;
background-color:	#707070; 
}
.contenedor {
height: 100%;
}

#cabecera {
padding: 10px 10px 0px 10px;
padding-top: opx;
margin: 0px 0px 0px 0px;
background-color: #fff; 
height: 15%;
}

.cuerpo {
}

#footer {
clear : both;
color : #cccccc;
text-align : center;
margin : 10px 10px 10px 10px;
padding-bottom:10px;
background-color: #fff; 
height: 5%;
}

h1 {
margin: 0px 0px 0px 0px;
text-align: center;
}    


.formularios {
    margin: 10px 10px 10px 10px;
    margin-left: 25%;
	border-style: solid 2px; 
	padding: 10px 10px 10px 10px;
}

table {
	width: 650px;
	border:1px solid #000000;
	border-spacing: 0px; }

table a, table, tbody, tfoot, tr, th, td {
	font-family: Arial, Helvetica, sans-serif;
}

table caption {
	font-size: 1.8em;
	text-align: left;
	text-indent: 100px;
	background: url(img/bg_caption.gif) left top;
	height: 40px;
	color: #FFFFFF;
	border:1px solid #000000; }

thead th {
	background: url(../img/bg_th.gif) left;
	height: 21px;
	color: #FFFFFF;
	font-size: 0.6em;
	font-family: Arial;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left; }

tbody tr {	background: #ffffff; }

tbody tr.odd {	background: #f0f0f0; }

tbody th {
	background: url(images/arrow_white.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody tr.odd th {
	background: url(images/arrow_grey.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody th, tbody td {
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 10px 7px;
	border-bottom: 1px solid #800000;
	text-align: left; }

tbody a {
	color: #000000;
	font-weight: bold;
	text-decoration: none; }

tbody a:hover {
	color: #ffffff;
	text-decoration: underline; }

tbody tr:hover th {
	background: #800000 url(images/arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

tbody tr.odd:hover th {
	background: #000000 url(images/arrow_black.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

tbody tr:hover th a, tr.odd:hover th a	{
		 color: #ffffff; }

tbody tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a {
	background: #800000;
	color: #ffffff;	 }

tbody tr.odd:hover td, tr.odd:hover td a{
	background: #000000;
	color: #ffffff;	 }

tfoot th, tfoot td {
	background: #ffffff url(images/bg_footer.gif) repeat-x bottom;
	font-size: 0.8em;
	color: #ffffff;
	height: 21px;
	}

/*- Menu Tabs H--------------------------- */

    #tabsH {
      float:left;
      width:100%;
      background:#000;
      font-size:93%;
      line-height:normal;
      }
    #tabsH ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    #tabsH li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsH a {
      float:left;
      background:url("tableftH.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsH a span {
      float:left;
      display:block;
      background:url("tabrightH.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsH a span {float:none;}
    /* End IE5-Mac hack */
    #tabsH a:hover span {
      color:#FFF;
      }
    #tabsH a:hover {
      background-position:0% -42px;
      }
    #tabsH a:hover span {
      background-position:100% -42px;
      }

#submenu ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 8%;
    padding: 0px;
    width: 250px;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    float:left;
}

#submenu ul li {
    background-color: #666;
}

#submenu ul li a {
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}

#submenu ul li a:hover {
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}


label {
	background-color:#666;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:#fff;
}
input,select {
    border: 1px solid #006;
    background: #fff;
}
input:hover,select:hover {
    border: 1px solid #f00;
    background: #000;
    color:#fff;
}


